@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body, #root {
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  font-family: "Outfit", sans-serif;
}

body {
  background: #000;
}
